{
    "plugins": [
        "transform-flow-strip-types"
    ],
    "presets": [
        "es2015"
    ],
    "env": {
        "development": {
            "presets": ["power-assert"]
        },
        "production": {
            "plugins": ["unassert"]
        }
    }
}
